[Unit]
Description=Removes Phantom Input Devices
After=neo-controller.service

[Service]
ExecStart=/sbin/python3 /usr/local/bin/phantom-input.py

[Install]
WantedBy=multi-user.target
