[Unit]
Description=Remove phantom input devices
After=neo-controller.service
PartOf=neo-controller.service

[Service]
ExecStart=/sbin/python3 /usr/local/bin/phantom-input.py

[Install]
WantedBy=multi-user.target
